{% extends 'base.html.twig' %}

{% block body %}

    {% for msg in app.flashes('Order') %}
        <div class="alert alert-success">
            <h5>{{ msg }}</h5>
        </div>
    {% endfor %}

    <!-- Playlist section -->
    <section class="playlist-section spad">
        <div class="container-fluid">
            <div class="section-title">
                <h2>Playlists</h2>
            </div>
            <div class="container">
                <ul class="playlist-filter controls">
                    <li class="control" data-filter=".Drink">Drink</li>
                    <li class="control" data-filter=".Appetizers">Appetizers</li>
                    <li class="control" data-filter=".Dishes">Dishes</li>
                    <li class="control" data-filter=".Foods">Foods</li>
                    <li class="control" data-filter="all">All Dishes</li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <div class="row playlist-area">
                {% for dish in dishes %}
                    <div class="mix col-lg-3 col-md-4 col-sm-6 {{ dish.categoryId }}">
                        <div class="playlist-item">
                            <img src="{{ asset('images/' ~ dish.image) }}" alt="">
                            <h5>{{ dish.name }} - $ {{ dish.price }}</h5>
                            <a class="btn btn-outline-danger btn-sm mr-1 mt-1" href="{{ path('order', { id : dish.id}) }}" role="button">Order</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Playlist section end -->
{% endblock %}
