{% extends 'base.html.twig' %}

{% block title %}Dishes{% endblock %}

{% block body %}

    {% for msg in app.flashes('success') %}
        <div class="alert alert-success">
            <p>{{ msg }}</p>
        </div>
    {% endfor %}

    <div class="container">

        <div class="d-flex mt-3 mb-3">
            <div>
                <h5>List of Dishes</h5>
            </div>
            <div class="ml-auto">
                <a href="{{ path('dish.create') }}">
                    Create a new dish
                </a>
            </div>
        </div>

        <div class="d-flex">
            <table class="table table-striped">
                <thead>
                <tr>
                    <td>Name</td>
                    <td>Description</td>
                    <td>Price</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                {% for dish in dishes %}
                    <tr>
                        <td>{{ dish.name }}</td>
                        <td>{{ dish.description }}</td>
                        <td>{{ dish.price }}</td>
                        <td>
                            <a class="mr-3" href="{{ path('dish.edit', {id: dish.id}) }}">
                                <i class="fa fa-lg fa-edit"></i>
                            </a>
                            <a class="mr-3" href="{{ path('dish.delete', {id: dish.id}) }}">
                                <i class="fa fa-lg fa-trash"></i>
                            </a>
                            <a href="{{ path('dish.view', {id: dish.id}) }}">
                                <i class="fa fa-lg fa-eye"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
