{% extends 'base.html.twig' %}

{% block title %}Dishes{% endblock %}

{% block body %}

    <div class="container">

        <h4 class="mt-2 mb-2">List of Dishes</h4>

        <div class="row">
            <table class="table table-striped">
                <thead>
                <tr>
                    <td>No.</td>
                    <td>Name</td>
                    <td>Description</td>
                    <td>Price</td>
                    <td>
                        <a href="{{ path('dish.create') }}">
                            Create
                        </a>
                    </td>
                    <td>Delete</td>
                </tr>
                </thead>
                <tbody>
                {% for dish in dishes %}
                    <tr>
                        <td>{{ dish.id }}</td>
                        <td>{{ dish.name }}</td>
                        <td>{{ dish.description }}</td>
                        <td>{{  dish.price }}</td>
                        <td>-</td>
                        <td>Delete</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
