{% extends 'base.html.twig' %}


{% block body %}
    {% set sum = 0 %}

    <br>
    <div class="container">
        <h3>Your Order</h3>
        <br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Order No.</td>
                    <td>Name</td>
                    <td>Price</td>
                    <td>Status</td>
                </tr>
            </thead>
            <tbody>
                {% for order in theOrder %}
                    {% set sum = sum + order.price%}
                    <tr>
                        <td>{{ order.ordernumber }}</td>
                        <td>{{ order.name }}</td>
                        <td>{{ order.price }}</td>
                        <td>{{ order.status }}</td>
                    </tr>
                {% endfor %}
            <td>Order Total</td><td></td>
            <td>{{ sum }} $</td>
            <td></td>
            </tbody>
        </table>
    </div>
{% endblock %}
